mainmenu "HIT Verilog DiffTest Configure"

choice# {{{
    prompt "Runing Mode"
    default NSC_DIFF
config NSC_DIFF
    bool "Use nemu as nscscc difftest emulator"
config NSC_NEMU
    bool "Only run nemu with nscscc SoC"
config NSC_CEMU
    bool "Only run cemu with nscscc SoC"
endchoice# }}}

menu "Build Options"# {{{
choice
  prompt "Compiler"
  default CC_GCC
config CC_GCC
  bool "gcc"
config CC_GPP
  bool "g++"
config CC_CLANG
  depends on !TARGET_AM
  bool "clang"
endchoice

config CC
  string
  default "gcc" if CC_GCC
  default "g++" if CC_GPP
  default "clang" if CC_CLANG
  default "none"

choice
  prompt "Optimization Level"
  default CC_O2
config CC_O0
  bool "O0"
config CC_O1
  bool "O1"
config CC_O2
  bool "O2"
config CC_O3
  bool "O3"
endchoice

config CC_OPT
  string
  default "-O0" if CC_O0
  default "-O1" if CC_O1
  default "-O2" if CC_O2
  default "-O3" if CC_O3
  default "none"

config CC_LTO
  depends on !TARGET_AM
  bool "Enable link-time optimization"
  default n

config CC_DEBUG
  bool "Enable debug information"
  default n

config CC_ASAN
  depends on MODE_SYSTEM
  bool "Enable address sanitizer"
  default n
endmenu# }}}

menu "Log Options"# {{{

config TRACE
    bool "Enable tracer"
    default y
    help 
        save testbench output in file

config TRACE_FILE
    depends on TRACE
    string "log file absolutely path"
    default "$(HITD_HOME)/vlogs/tb-trace.log"

config TRACE_FILE_SIZE
    depends on TRACE
    int "truncate file when trace file reaches the specified size"
    default 512
    help 
        the uint of trace file is KB
        close truncation by setting the value zero

config ITRACE
  depends on TRACE
  bool "Trace Nemu all executed Instructions"
  default y

config MTRACE
  depends on TRACE
  bool "Trace Nemu all access to Memory"
  default y

config FTRACE
  depends on TRACE
  bool "Trace Nemu all Function call(not support now)"
  default n

config ETRACE
  depends on TRACE
  bool "Trace Nemu all Exception trigger and return"
  default y

config TTRACE
  depends on TRACE
  bool "Trace MyCPU all AXI Transition"
  default y

endmenu# }}}

menu "Nemu Options"
source "src/nemu/Kconfig"
endmenu

menu "Verilog Simulate Options"
source "src/testbench/Kconfig"
endmenu
