mainmenu "HIT Verilog DiffTest Configure"

choice# {{{
    prompt "Runing Mode"
    default NSC_DIFF
config NSC_DIFF
    bool "Use nemu as nscscc difftest emulator"
config NSC_NEMU
    bool "Only run nemu with nscscc SoC"
config NSC_CEMU
    bool "Only run cemu with nscscc SoC"
endchoice# }}}

config NEED_NEMU
    bool 
    default y if NSC_NEMU || NSC_DIFF

config NEED_CEMU
    bool
    default y if NSC_CEMU || (NSC_NEMU && DIFFTEST)

config NEED_TB
    bool
    default y if NSC_DIFF

choice
  prompt "Test Program"
  default TEST_UBOOT
config TEST_FUNC
  bool "NSCSCC function test"
config TEST_PERF
  bool "NSCSCC perfermance test"
config TEST_SYS
  bool "NSCSCC system test"
config TEST_UBOOT
  bool "u-boot"
config TEST_LINUX
  bool "linux"
endchoice

config BASIC_SOC
    bool
    default y if TEST_FUNC || TEST_PERF

config BOOT_SOC
    bool
    default y if TEST_SYS || TEST_UBOOT

config KERNEL_SOC
    bool
    default y if TEST_LINUX

config HAS_CONFREG
    bool
    default y if TEST_FUNC || TEST_PERF

config HAS_UART
    bool
    default y if TEST_LINUX|| TEST_UBOOT

config RESET_PC
    int 
    default 2148532224 if TEST_LINUX
    default 3217031168 if !TEST_LINUX

menu "Build Options"# {{{
choice
  prompt "Compiler"
  default CC_GCC
config CC_GCC
  bool "gcc"
config CC_GPP
  bool "g++"
config CC_CLANG
  depends on !TARGET_AM
  bool "clang"
endchoice

config CC
  string
  default "gcc" if CC_GCC
  default "g++" if CC_GPP
  default "clang" if CC_CLANG
  default "none"

choice
  prompt "Optimization Level"
  default CC_O2
config CC_O0
  bool "O0"
config CC_O1
  bool "O1"
config CC_O2
  bool "O2"
config CC_O3
  bool "O3"
endchoice

config CC_OPT
  string
  default "-O0" if CC_O0
  default "-O1" if CC_O1
  default "-O2" if CC_O2
  default "-O3" if CC_O3
  default "none"

config CCACHE_ENABLE
    bool "Enable ccache"
    default y
    help 
        use ccache to speed up compile


config CC_LTO
  depends on !TARGET_AM
  bool "Enable link-time optimization"
  default n

config CC_DEBUG
  bool "Enable debug information"
  default n

config CC_ASAN
  depends on MODE_SYSTEM
  bool "Enable address sanitizer"
  default n
endmenu# }}}

menu "Log Options"# {{{

config TRACE
  bool "Enable tracer"
  default y
  help 
      save testbench output in file

config TRACE_FILE
  depends on TRACE
  string "log file path and name"
  default "$(HITD_HOME)/tb-trace.log"
  help 
      the absolute path or relative path of log file,
      can use environment variable with makefile grammer

choice
  prompt "Truncate option"
  depends on TRACE
  default TRUNCATE_AUTO
config TRUNCATE_AUTO
  bool "Automatically truncate files based on file size"
config TRUNCATE_MANUAL
  bool "Manually set the start tick and end tick"
config TRUNCATE_NONE
  bool "Full record, no truncation"
endchoice

config TRACE_FILE_SIZE
  depends on TRACE && TRUNCATE_AUTO
  int "truncate file when trace file reaches the specified size"
  default 512
  help 
      the uint of trace file is KB
      close truncation by setting the value zero

config TRACE_START_TICK
  depends on TRACE && TRUNCATE_MANUAL
  int "trace start tick"
  default 0

config TRACE_END_TICK
  depends on TRACE && TRUNCATE_MANUAL
  int "trace end tick"
  default -1

endmenu# }}}

menu "Nemu Options"
source "src/nemu/Kconfig"
endmenu

menu "Verilog Simulate Options"
source "src/testbench/Kconfig"
endmenu
