mainmenu "HIT Verilog DiffTest Configure"

choice# {{{
    prompt "Runing Mode"
    default NSC_DIFF
config NSC_DIFF
    bool "Use nemu as nscscc difftest emulator"
config NSC_NEMU
    bool "Only run nemu with nscscc SoC"
endchoice# }}}

menu "Build Options"# {{{
choice
  prompt "Compiler"
  default CC_GCC
config CC_GCC
  bool "gcc"
config CC_GPP
  bool "g++"
config CC_CLANG
  depends on !TARGET_AM
  bool "clang"
endchoice

config CC
  string
  default "gcc" if CC_GCC
  default "g++" if CC_GPP
  default "clang" if CC_CLANG
  default "none"

choice
  prompt "Optimization Level"
  default CC_O2
config CC_O0
  bool "O0"
config CC_O1
  bool "O1"
config CC_O2
  bool "O2"
config CC_O3
  bool "O3"
endchoice

config CC_OPT
  string
  default "-O0" if CC_O0
  default "-O1" if CC_O1
  default "-O2" if CC_O2
  default "-O3" if CC_O3
  default "none"

config CC_LTO
  depends on !TARGET_AM
  bool "Enable link-time optimization"
  default n

config CC_DEBUG
  bool "Enable debug information"
  default n

config CC_ASAN
  depends on MODE_SYSTEM
  bool "Enable address sanitizer"
  default n
endmenu# }}}

menu "Log Options"# {{{

config LOG_ENABLE
    bool "Save difftest output in a file"
    default y

config LOG_FILE
    depends on LOG_ENABLE
    string "log file absolutely path"
    default "$(DIFF_HOME)/vlogs/difftest-log.txt"

config LRING_ENABLE
    depends on LOG_ENABLE
    bool "Only save the last n log in file"
    default n

config LRING_NR 
    depends on LRING_ENABLE
    int "Save the last n log"
    default 1024

config LRING_LEN 
    depends on LRING_ENABLE
    int "Log max length per line"
    default 128

endmenu# }}}

menu "Nemu Options"
source "src/nemu/Kconfig"
endmenu

menu "Verilog Simulate Options"
source "src/testbench/Kconfig"
endmenu
