menu "ISA Option"# {{{
choice
  prompt "Base ISA"
  default ISA_mips32
config ISA_x86
  bool "x86"
config ISA_mips32
  bool "mips32"
config ISA_riscv32
  bool "riscv32"
config ISA_riscv64
  bool "riscv64"
endchoice

choice
prompt "MIPS SET"
depends on ISA_mips32
default MIPS_BASIC
config MIPS_BASIC
bool "nscscc set"
config MIPS_RLS1
bool "mips32 release1"
endchoice

config ISA
  string
  default "x86" if ISA_x86
  default "mips32" if ISA_mips32
  default "riscv32" if ISA_riscv32
  default "riscv64" if ISA_riscv64
  default "none"

config ISA64
  depends on ISA_riscv64
  bool
  default y

endmenu# }}}

menu "Testing and Debugging"# {{{

config WATCH_POINT
  depends on NSC_NEMU
  bool "Watch points in simple debug"
  default y

config DEADLOOP
  bool "Detect Dead loop in guest program"
  default n

config DIFFTEST
  depends on NSC_NEMU
  bool "Enable differential testing for nemu"
  default n
  help
    Enable differential testing with a reference design.
    Note that this will significantly reduce the performance of NEMU.
endmenu
# }}}

menu "Miscellaneous"# {{{
choice
  depends on !TARGET_AM
  prompt "Host timer"
  default TIMER_GETTIMEOFDAY
config TIMER_GETTIMEOFDAY
  bool "gettimeofday"
config TIMER_CLOCK_GETTIME
  bool "clock_gettime"
endchoice

config RT_CHECK
  bool "Enable runtime checking"
  default y

endmenu# }}}
