menu "ISA Option"# {{{
choice
  prompt "Base ISA"
  default ISA_mips32
config ISA_x86
  bool "x86"
config ISA_mips32
  bool "mips32"
config ISA_riscv32
  bool "riscv32"
config ISA_riscv64
  bool "riscv64"
endchoice

choice
prompt "MIPS SET"
depends on ISA_mips32
default MIPS_BASIC if (TEST_FUNC || TEST_PERF)
default MIPS_RLS1 if (TEST_UBOOT || TEST_LINUX)

config MIPS_BASIC
bool "nscscc set"
config MIPS_RLS1
bool "mips32 release1"
endchoice

config ISA
  string
  default "x86" if ISA_x86
  default "mips32" if ISA_mips32
  default "riscv32" if ISA_riscv32
  default "riscv64" if ISA_riscv64
  default "none"

config ISA64
  depends on ISA_riscv64
  bool
  default y

endmenu# }}}

menu "Testing and Debugging"# {{{

config WATCH_POINT
  depends on NSC_NEMU
  bool "Watch points in simple debug"
  default y

config DWARF
    depends on NSC_NEMU
    bool "Enable C level debugger by DWARF"
    default n

config DEADLOOP
  bool "Detect Dead loop in guest program"
  default n

config DIFFTEST
  depends on NSC_NEMU
  bool "Enable differential testing for nemu"
  default y
  help
    Enable differential testing with a reference design.
    Note that this will significantly reduce the performance of NEMU.

config ITRACE
  depends on TRACE
  bool "Trace Nemu all executed Instructions"
  default y

config MTRACE
  depends on TRACE
  bool "Trace Nemu all access to Memory"
  default y

config FTRACE
  depends on TRACE && !(TEST_FUNC)
  bool "Trace Nemu all Function call(not support functional test)"
  default n

config ETRACE
  depends on TRACE
  bool "Trace Nemu all Exception trigger and return"
  default y

config GOLDEN_TRACE
  depends on TRACE
  bool "generate golden trace"
  default n

endmenu
# }}}

menu "Miscellaneous"# {{{
choice
  depends on !TARGET_AM
  prompt "Host timer"
  default TIMER_GETTIMEOFDAY
config TIMER_GETTIMEOFDAY
  bool "gettimeofday"
config TIMER_CLOCK_GETTIME
  bool "clock_gettime"
endchoice

config RT_CHECK
  bool "Enable runtime checking"
  default y

config NEMU_BAT
    bool "run nemu with batch mode"
    default n
config TLB_NR
    int "TLB entry number"
    default 16
endmenu# }}}
