menu "AXI Options"# {{{

config AXI_DWID
int "AXI bus data channal width"
default 32

config AXI_AWID
int "AXI bus address channal width"
default 32

config AXI_IDWID
int "AXI bus xID signal width"
default 4
endmenu# }}}

menu "Perference Test"# {{{
config PERF_START
int "Start to run perference test from which program"
range 1 10
default 1

config PERF_END
int "Stop perference test after run which program"
range PERF_START 10
default 1

config PERF_ANALISES
depends on TEST_PERF
bool "Record every instruction execute time"
default n
endmenu# }}}

menu "Wave and Debugging"
config WAVE_ON
bool "trace wave file"
default y

config WAVE_DIR
    depends on WAVE_ON
    string "Wave file absolutely path"
    default "$(HITD_HOME)/wave"
    help 
        the absolute path or relative path of wave diretory,
        can use environment variable with makefile grammer.
        can not add the last "/".

choice
  prompt "Wave file extension"
  depends on WAVE_ON
  default EXT_FST
config EXT_VCD
  bool "vcd"
config EXT_FST
  bool "fst"
endchoice

config WAVE_EXT
  string
  default "vcd" if EXT_VCD
  default "fst" if EXT_FST
  default "none"

config WAVE_TAIL_ENABLE
depends on WAVE_ON 
bool "control the ticks when enble wave"
default y

config WAVE_START_FROM
depends on WAVE_ON && WAVE_TAIL_ENABLE
int "When wave trace start"
default 0

config MEM_DIFF
    bool "Enable memory check when read by AXI"
    default yes

config CP0_DIFF
    bool "Enable coprocessor register 0 check"
    default no

config HILO_DIFF
    bool "Enable hi lo register check"
    default no

config FREELIST_DIFF
    bool "Enable FreeList Physical register move check"
    default no

config COMMIT_WAIT
    bool "Automatic exit after waiting a while without instruction commit"
    default yes
config COMMIT_TIME_LIMIT
    depends on COMMIT_WAIT
    int "Wait how many clock cycles"
    default 512
config INST_TIME
    bool "Enable performance analysis per instruction"
    default y
choice
    prompt "instruction analysis mode"
    depends on INST_TIME
    default INST_TIME_PRE

config INST_TIME_PRE
    bool "Generate basic block enterance and runtime table"
config INST_TIME_ALS
    bool "Record mycpu consume time for every instruction"
endchoice

endmenu
