CONFIG_NSC_NEMU=y
CONFIG_TEST_LINUX=y
CONFIG_CC_DEBUG=y
# CONFIG_TRACE is not set
# CONFIG_WATCH_POINT is not set
# CONFIG_DIFFTEST is not set
CONFIG_TLB_NR=8
CONFIG_PERF_END=10
CONFIG_FREELIST_DIFF=y
CONFIG_COMMIT_WAIT=y
# CONFIG_INST_TIME is not set
